In [3]:

nums = [100, 200, 300, 400, 500]

nums.pop()
nums.pop()

nums

[100, 200, 300]

In [5]:
l = [200, 100, 300]

arr.insert(2, 10000)

arr

[200, 100, 10000, 300]

In [9]:
arr = [100, 200, 300]
num = 1
str = 'string'
tuple = (tuple, 1)

type(arr), type(num), type(str), type(tuple)

(list, int, str, tuple)

In [12]:
a = 1
b = 2.22
c = 'p'
d = [1, 2, 3]


print(type(a), type(b), type(c), type(d))

<class 'int'> <class 'float'> <class 'str'> <class 'list'>

In [18]:
a = 10
b = 2 

for i in range(a):
    a += i
    
a, a+b

(55, 57)

In [36]:
#8
d = {'height':180,'weight':78,'weight':84,'temparture':36,'eyesight':1}
d2 = {'height':180,'weight':84,'weight':78,'temparture':36,'eyesight':1}

d['weight'], d2['weight'] # 딕셔너리에서 키이름 중복되면 뒤의 값으로 인정

(84, 78)

In [54]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year,month, day, sep='/', end='\n')
print(hour, minute, second,sep =':' )

2019/04/26
11:34:27

In [60]:
s = 0

for i in range(1, 101):
    s += i
    
s

5050

In [70]:
range(10), list(range(10))

(range(0, 10), [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [72]:
type(range(10)), type(list(range(10)))

(range, list)

In [77]:
list(range(10, 5, -1))

[10, 9, 8, 7, 6]

In [68]:
# 클래스

class Wizard:
    # 생성자
    def __init__(self, health, mana, armor):
        print('init class Wizard')
        self.health = health
        self.mana = mana
        self.armor = armor
    # 메소드
    def attack(self):
        print('파이어볼')
    

x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()

init class Wizard
545 210 10
파이어볼

In [1]:
#13

solar = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

n = int(input('숫자를 입력하세요 : '))

print(solar[n-1])

수성

In [4]:
#14

n = int(input('숫자를 입력하세요 : '))

if n%3 == 0:
    print('짝')
else:
    print(n)

짝

In [14]:
#15 f-string

name = input('이름을 입력하세요: ')

print(f'안녕하세요 저는 {name} 입니다')
print('안녕하세요 저는 {} 입니다'.format(name))
print('안녕하세요 저는 %s 입니다' % name)

안녕하세요 저는 권기록 입니다
안녕하세요 저는 권기록 입니다
안녕하세요 저는 권기록 입니다

In [46]:
#16 

# string = input('문장을 입력하세요 : ')

s = '거꾸로'

reverse= ''

for i in s:
    reverse = i + reverse
    
print(reverse)

로꾸거

In [47]:
#16

s = '거꾸로'

print(s[::-1])

로꾸거

In [2]:
#17

h = int(input('키?'))
if h >= 150:
    print('YES')
else:
    print('NO')

NO

In [25]:
#18
a = input('국어, 수학, 영어 : ').split(' ')
avg = 0
print(a)

for i in a:
    avg += int(i)
    
avg = avg/len(a)


print(avg)

['20', '30', '40']
30.0

In [41]:
#19

a, b = map(int, input().split())

print(a**b)

32

In [44]:
a, b = map(int, input().split(' '))

print(a//b, a%b)

5 0

In [56]:
#21

# set 은 순서가 없고 중복 허용 X

set1 = {1, 2,3 ,4, 5}
set2 = {} # dictionary
set3 = set('python')
set4 = set(range(5))

print(type(set1), type(set2), type(set3), type(set4), type(set5))

<class 'set'> <class 'dict'> <class 'set'> <class 'set'> <class 'set'>

In [62]:
i=36

i/6 ==0, i%6==0, i & 6 ==0, i|6==0, i//6 ==0

(False, True, False, False, False)

In [63]:
print(10/2)

5.0

In [69]:
s = 'aBC abc AbC'

# 기존 문자열을 변경하지 않는다
s.upper(), s.lower(), s.capitalize(), s

('ABC ABC ABC', 'abc abc abc', 'Abc abc abc', 'aBC abc AbC')

In [71]:
r = int(input('정수 반지름을 입력하세요 : '))

print(3.14 * r **2)

153.86

In [83]:
solar = {'수성':'Mercury', '금성':'Venus', '지구':'Earth', '화성':'Mars', '목성':'Jupyter', '토성':'Saturn', '천왕성':'Uranus', '해왕성':'Neptune'}

s = input('행성 이름을 입력하세요:')

solar[s]

'Earth'

In [5]:
# map(콜백함수, 리스트)
student1, student2 = map(str, input("학생의 이름을 입력하세요 : ").split(" "))
score1, score2 = map(int, input("학생의 점수를 입력하세요 : ").split(" "))

print({student1: score1, student2: score2})

{'jksdf': 123, 'sdjkfl': 2}

In [16]:
# 28
s = input('문자열 입력 : ')

for i in range(len(s)-1):
    print(s[i:i+2])

py
yt
th
ho
on

In [23]:
# 29 
s = input()

if ord(s)<=90:
    print('YES')
else:
    print("NO")

YES

In [27]:
# 30

s = input('문자열 : ')
target = input('찾을 문자 : ')

# s= 'pineapple'
# target = 'apple'

idx = s.find(target)

if idx != -1:
    print(idx)
else:
    print('없음')

4

In [ ]:
# 31 - 리스트 내장함수의 시간 복잡도
l = [1,2,3,4]

# l[i] -> O(1)
# l.append(5) -> O(1)
# l[a:b] -> O(b-a)
# l.pop() -> O(1)
# l.clear() -> O(1)

In [46]:
# 32
s = '저 넓은 세상을 네 눈앞에 그려봐 네 진심을 느껴봐'

count = len(s.split())

print(count)

9

In [53]:
# 33
l = input().split()


l.reverse()
l =' '.join(l)
print(l)

5 4 3 2 1

In [59]:
# 34

l = input().split()
l = [int(i) for i in l]
if l != sorted(l):
    print('No')
else:
    print('Yes')

Yes

In [60]:
# 35

def one(n):
    def two(value):
        return value ** n
    return two

a = one(2)
b = one(3)
c = one(4)

print(a(10))
print(b(10))
print(c(10))

100
1000
10000

In [67]:
a = int(input())
for i in range(1, 10):
    print(i*a, end=' ')

2 4 6 8 10 12 14 16 18

In [87]:
input = '원영 원영 은비 은비 은비 은비 채연 채연'

l = input.split()
hashMap = {}

for i in l:
    if i in hashMap:
        hashMap[i] += 1
    else:
        hashMap[i] = 1
        
max_key = max(hashMap, key=lambda k: hashMap[k])

max_key

'은비'

In [115]:
obj = { 1:'a', 2:'b', 3:'c'}

print(type(obj))
print(dir(obj))

<class 'dict'>
['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [109]:
obj = { 1:'a', 2:'b', 3:'c'}

print(obj.items())
print(obj.keys())
print(obj.values())

obj[4]='d'

print(obj)

obj.pop(1) # key를 인자로 전달해서 해당 key value를 추출 (기존 딕셔너리 변형)

print(obj)

obj.update({4:'dd'})
obj

obj.update({5: 'e'})

obj.get(2) # key를 전달해서 value를 읽어옴 (기존 딕셔너리에는 변형 X), 두번째 인자로 예외 처리 문을 넣음
print(obj.get(6, 'not found'))

dict_items([(1, 'a'), (2, 'b'), (3, 'c')])
dict_keys([1, 2, 3])
dict_values(['a', 'b', 'c'])
{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
{2: 'b', 3: 'c', 4: 'd'}
not found

In [113]:
list = [100, 200, 300, 400]
print(list)
print(type(list))
print(dir(list))

[100, 200, 300, 400]
<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [3]:
# 리스트
list = [100, 200, 300, 400]

list.append(500)
print(list)

list.clear()
print(list)

list = [100, 200, 300, 400]
list2 = list.copy()
list3 = list

print(list, list2, list3)
print(id(list), id(list2), id(list3))
print(list == list2, list == list3 )

[100, 200, 300, 400, 500]
[]
[100, 200, 300, 400] [100, 200, 300, 400] [100, 200, 300, 400]
4345718080 4345718336 4345718080
True True

In [69]:
list = [1, 2,3 ,4, 5,6, 7, 8, 9, 10]

# list[start:stop:step] -> slicing

print(list[0:5]) # 인덱스 0~4까지 slicing
print(list[0::]) # 인덱스 0부터 끝까지 slicing
print(list[::2])
print(list[5::2]) # 인덱스 5부터 끝까지 2개씩 건너뛰어가며 slicing 
print(list[::3])
print(list+list) 
print(list * 3)
list[0:1] = []
print(list)
list.extend([11, 12, 13])
print(list)
print(list.index(12))
list.insert(3, 999) # index, value
print(list)
list.pop() # 인자를 전달하지 않으면 마지막 요소 삭제
print('pop',list)
list.pop(3) # 인자로 인덱스를 전달하면 해당 인덱스 요소 삭제
print('pop index 3',list)
list.remove(10) # 인자로 value를 전달하면 처음만나는 value를 찾아서 삭제
print('remove value 10',list)
list.reverse()
print('reverse',list)
list.sort()
print('sort',list)
list.sort(reverse=True)
print('sort reverse',list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[6, 8, 10]
[1, 4, 7, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
10
[2, 3, 4, 999, 5, 6, 7, 8, 9, 10, 11, 12, 13]
pop [2, 3, 4, 999, 5, 6, 7, 8, 9, 10, 11, 12]
pop index 3 [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
remove value 10 [2, 3, 4, 5, 6, 7, 8, 9, 11, 12]
reverse [12, 11, 9, 8, 7, 6, 5, 4, 3, 2]
sort [2, 3, 4, 5, 6, 7, 8, 9, 11, 12]
sort reverse [12, 11, 9, 8, 7, 6, 5, 4, 3, 2]