In [3]:

nums = [100, 200, 300, 400, 500]

nums.pop()
nums.pop()

nums

[100, 200, 300]

In [5]:
l = [200, 100, 300]

arr.insert(2, 10000)

arr

[200, 100, 10000, 300]

In [9]:
arr = [100, 200, 300]
num = 1
str = 'string'
tuple = (tuple, 1)

type(arr), type(num), type(str), type(tuple)

(list, int, str, tuple)

In [12]:
a = 1
b = 2.22
c = 'p'
d = [1, 2, 3]


print(type(a), type(b), type(c), type(d))

<class 'int'> <class 'float'> <class 'str'> <class 'list'>

In [18]:
a = 10
b = 2 

for i in range(a):
    a += i
    
a, a+b

(55, 57)

In [36]:
#8
d = {'height':180,'weight':78,'weight':84,'temparture':36,'eyesight':1}
d2 = {'height':180,'weight':84,'weight':78,'temparture':36,'eyesight':1}

d['weight'], d2['weight'] # 딕셔너리에서 키이름 중복되면 뒤의 값으로 인정

(84, 78)

In [54]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year,month, day, sep='/', end='\n')
print(hour, minute, second,sep =':' )

2019/04/26
11:34:27

In [60]:
s = 0

for i in range(1, 101):
    s += i
    
s

5050

In [70]:
range(10), list(range(10))

(range(0, 10), [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [72]:
type(range(10)), type(list(range(10)))

(range, list)

In [77]:
list(range(10, 5, -1))

[10, 9, 8, 7, 6]

In [68]:
# 클래스

class Wizard:
    # 생성자
    def __init__(self, health, mana, armor):
        print('init class Wizard')
        self.health = health
        self.mana = mana
        self.armor = armor
    # 메소드
    def attack(self):
        print('파이어볼')
    

x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()

init class Wizard
545 210 10
파이어볼

In [1]:
#13

solar = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

n = int(input('숫자를 입력하세요 : '))

print(solar[n-1])

수성

In [4]:
#14

n = int(input('숫자를 입력하세요 : '))

if n%3 == 0:
    print('짝')
else:
    print(n)

짝

In [14]:
#15 f-string

name = input('이름을 입력하세요: ')

print(f'안녕하세요 저는 {name} 입니다')
print('안녕하세요 저는 {} 입니다'.format(name))
print('안녕하세요 저는 %s 입니다' % name)

안녕하세요 저는 권기록 입니다
안녕하세요 저는 권기록 입니다
안녕하세요 저는 권기록 입니다

In [46]:
#16 

# string = input('문장을 입력하세요 : ')

s = '거꾸로'

reverse= ''

for i in s:
    reverse = i + reverse
    
print(reverse)

로꾸거

In [47]:
#16

s = '거꾸로'

print(s[::-1])

로꾸거

In [2]:
#17

h = int(input('키?'))
if h >= 150:
    print('YES')
else:
    print('NO')

NO

In [25]:
#18
a = input('국어, 수학, 영어 : ').split(' ')
avg = 0
print(a)

for i in a:
    avg += int(i)
    
avg = avg/len(a)


print(avg)

['20', '30', '40']
30.0

In [41]:
#19

a, b = map(int, input().split())

print(a**b)

32

In [44]:
a, b = map(int, input().split(' '))

print(a//b, a%b)

5 0

In [56]:
#21

# set 은 순서가 없고 중복 허용 X

set1 = {1, 2,3 ,4, 5}
set2 = {} # dictionary
set3 = set('python')
set4 = set(range(5))

print(type(set1), type(set2), type(set3), type(set4), type(set5))

<class 'set'> <class 'dict'> <class 'set'> <class 'set'> <class 'set'>

In [62]:
i=36

i/6 ==0, i%6==0, i & 6 ==0, i|6==0, i//6 ==0

(False, True, False, False, False)

In [63]:
print(10/2)

5.0

In [69]:
s = 'aBC abc AbC'

# 기존 문자열을 변경하지 않는다
s.upper(), s.lower(), s.capitalize(), s

('ABC ABC ABC', 'abc abc abc', 'Abc abc abc', 'aBC abc AbC')

In [71]:
r = int(input('정수 반지름을 입력하세요 : '))

print(3.14 * r **2)

153.86

In [83]:
solar = {'수성':'Mercury', '금성':'Venus', '지구':'Earth', '화성':'Mars', '목성':'Jupyter', '토성':'Saturn', '천왕성':'Uranus', '해왕성':'Neptune'}

s = input('행성 이름을 입력하세요:')

solar[s]

'Earth'

In [86]:
# map(콜백함수, 리스트)
student1, student2 = map(int, input('학생의 이름을 입력하세요 : ').split(' '))
score1, score2 = map(int, input('학생의 점수를 입력하세요 : ').split(' '))

print({student1:score1, student2:score2})

ValueError: invalid literal for int() with base 10: ''